.w100{width:100%;}
.h100{height:100% !important;}


.clear-margin{margin:0;}
.clear-padding{padding:0;}

.relative{position: relative;}
.display-table{display: table}
.align-middle{
	display: table-cell;
	vertical-align: middle;
}
.bold{font-weight: bold;}

p iframe{
	width: 100% !important;
}



